body {
    font-family: sans-serif;
    padding: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px 30px;
}

.form-item p {
    padding: 12px 10px 5px 10px;
    color: black;
}

input[type="text"] {
    width: 100%;
    border: solid 2px #007bc7;
    outline: none;
    padding: 8px;
}

select {
    border: solid 2px #007bc7;
    outline: none;
    width: 100%;
    padding: 8px;
}

input[type="submit"] {
    padding: 12px 30px;
    background-color: #3984bc;
    border-radius: 10px;
    border: solid 2px #007bc7;
    cursor: pointer;
    color: white;
    font-size: 17px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;
}

td,
th {
    text-align: left;
    padding: 6px;
}

form td {
    text-align: center;
}

.wrap-action {
    width: 90%;
    display: flex;
    justify-content: end;
}

.action {
    color: white;
    display: inline-block;
    padding: 10px;
    background-color: #3984bc;
    border: 1px solid #007bc7;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 8px;
}